# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env
.env.*

# Data and model files
dataset/
runs/
yololeaf/
*.pt
*.pth
*.zip
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
